/* 
1.맨처음부터 속성들 초기화
*/

html,body{
    margin:0;
    padding:0; 
}

h1, p{
    margin: 0;  /*h태그와 p태그는 초기화를 해줘야함. 해주면, 왼쪽으로 딱 달라붙는다 */
}


/* 
3.배경을 추가해 준다.
배경이 반복되는 것을 없애기 위해 no-repeat vw,vh와 %의 차이점
vw,vh 가로 세로의 지금 가지고 있는 크기의 최대치
%를 했을 경우에는 마진,...다 빼고 100%가 되기때문에
정확하게 전체를 다 사용할 경우에는 vw,vh를 사용하면 된다 */

#main{
    /* 이미지를 frontend 파일 안 day4 안에다가 집어넣어야 함 */
    background: url(back.jpg) no-repeat;
    background-size: cover; /*화면이 깨지지 않고 잘 나올 수 있게 */
    background-position: center center; 
    width:100vw;
    height: 100vh;
    /* 구글폰트 questrial */
    font-family: 'Questrial', sans-serif;
}


/* 4.
컨텐츠의 텍스트와 색상을 검은색으로
*/

#contents{
    color:rgb(143, 77, 149);
    position: absolute; /*relative나 sticky나 큰 차이 없음*/
    width: 100%;
    top:50%; /*위에서부터 50%*/
    transform: translateY(-50%); /* 홈페이지에서 글쓰는 요소 자체가 딱 중앙에 온다. */
    text-align: center; /*텍스트 위치 중앙 배열*/
}


/* 5. a 태그의 속성 정의
 */


 a{
     /* color와 text-decoration까지 두개 다 해줘야 
    get started의 보라색 링크 표시가 사라짐. 근데 보라색으로 하고 싶어서 
    주석 처리를 한것임 */
    /* color: inherit; */
    text-decoration: none; 
    

 }

 /* 6. 구글 폰트 사용(select -> 3번째거 긁어와서 2개의 sheet에 적용)
 Dancing Script */

#contents h1{
    font-family: 'Dancing Script', cursive;
    font-size: 75px;
    margin-bottom: 25px;
}

#contents p{
    font-family: 'Questrial', sans-serif;
    /* 폰트 사이즈 지정 */
    font-size: 25px;
    margin-bottom: 16px; /*p태그와 a 태그의 간격을 떨어트리기 위해 padding 적용*/

}

/* 접속하기 태그를 버튼 처럼 만들어봄 */
#contents a{
    display:inline-block;
    /* 직사각형의 테두리 생성 */
    border: 2px solid rgb(246, 244, 241);
    border-radius: 40px;
    font-size: 20px;
    font-weight: bold;
    /* 마우스 올렸을 때 0.5초동안의 애니메이션 효과 적용 */
    transition: all 3s;
}



/* a마우스를 올렸을 때 색깔이 변하게 하는 것 */
#contents a:hover{
    background-color: rgb(136, 202, 202);
}



/* 미디어 쿼리 적용 */
@media(max-width:770px){
    #contents h1{
        font-size: 70px;
    }
    #contents p{
        font-size: 30px;
    }

    #contents a {
        font-size:12px;
    }
}

