/* *표시는 모든 태그에 적용되는 것을 셋팅하는 것이다 */
* {
    color: green;

}
li{
    color: pink;
}

#bts{
   color: blue; 
}

.red{
    width: 100px;
    height: 100px;
    background: yellow; 
}

button:hover{
    color: red;
    background: cyan;
}

a[href="https://www.daum.net"]{
    color: rgb(113,241,21);
}

a[href^="https://www.goo"]{
    color: orange;
}

a[href$="googledaum.net"]{
    color: crimson;
}